* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.digits {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  width: 450px;
}

.digits button,
.operators button {
  width: 150px;
  height: 50px;
}

.operators {
  display: flex;
  flex-direction: column;
  width: 150px;
}
